# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
.history/

# 2023-04-01-Diary.md
2024-04-26-Street-Fighter-6.md
2024-05-06-Linear-Algebra.md

2024-05-10-How-to-Focus.md
2024-05-10-Pack-and-Go.md

2024-06-08-Movie-Sharing.md
2024-06-08-Anime-Sharing.md
2024-08-15-LLM-Reward-Design.md

# Private
**/.obsidian/
**/Buffer/
**/Personal/
**/Research/