---
layout: default
title: Home
icon: fa-solid fa-hat-wizard
panel_includes:
  - toc
---

<!-- <div style="margin-bottom: 35px;"></div> -->

<!-- <div class="ani-hello"></div> -->

<div style="display: flex; align-items: center; margin-bottom: 20px;">
  <div style="flex-shrink: 0; width: 130px; height: 130px; background-image: url('/assets/img/avatar/meow9.png'); background-size: cover; background-position: center; margin-right: 30px;" onmouseover="this.style.backgroundImage='url(/assets/img/avatar/meow8.png)'" onmouseout="this.style.backgroundImage='url(/assets/img/avatar/meow9.png)'">
  <!-- <div style="flex-shrink: 0; width: 130px; height: 130px; background-image: url('/assets/img/ly2024.jpeg'); background-size: cover;"> -->
  </div>
  
  <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
    <!-- <div style="font-style: italic; color: #555; border-left: 5px solid #eee; padding-left: 20px;"> -->
    <!-- <div style="color: #495485; font-size: 22px"> -->
    <div style="color: rgb(153, 107, 77); font-size: 22px">
      <!-- <b>The world only makes sense if you force it to. <i>—&nbsp;Batman.</i></b> -->
      <b>"The powerful play goes on...<br>And you may contribute a verse."</b>
    </div>
  </div>
</div>

Hi, this is <span translate="no">Yue Lin</span> (/ˈjuːeɪ lɪn/, or 林越 in Chinese), and welcome to my personal website.
I am about to become a Ph.D. student in School of Data Science at The Chinese University of Hong Kong, Shenzhen, fortunately advised by Professor <span translate="no">Baoxiang Wang</span>. Here, I will irregularly update my experiences, notes, and computational magic spells that interest me.

<div style="color: #999;">
  And how could one endure being a man, if not also for the possibility to create, guess riddles, and redeem accidents? To redeem those who lived in the past and to recreate all "it was" into "thus I willed it" — that alone should I call redemption. <i>—&nbsp;Friedrich&nbsp;Nietzsche,&nbsp;Thus&nbsp;Spoke&nbsp;Zarathustra.</i>
</div>

<hr>

<!-- <style type="text/css">
  .tg  {border:none;border-collapse:collapse;border-spacing:0;}
  .tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
    padding:10px 5px;word-break:normal;}
  .tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-18eh{border-color:#000000;font-weight:bold;text-align:center;vertical-align:middle}
  .tg .tg-xwyw{border-color:#000000;text-align:center;vertical-align:middle}
</style>
<table class="tg" style="table-layout: fixed; width: 429px">
  <colgroup>
  <col style="width: 151px">
  <col style="width: 136px">
  <col style="width: 142px">
  </colgroup>
  <thead>
    <tr>
      <th class="tg-18eh"><span style="font-weight:700;font-style:normal; color:rgb(153, 107, 77)">Basic Information</span></th>
      <th class="tg-18eh"><span style="font-weight:600;font-style:normal; color:rgb(153, 107, 77)">Post Topics</span></th>
      <th class="tg-18eh"><span style="font-weight:600;font-style:normal; color:rgb(153, 107, 77)">Post Browsers</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-xwyw" rowspan="2">
        <a href="{{site.baseurl}}/" style="text-decoration: none;" title="Home">
          <button id="toHome"><i class="fa-brands fa-fort-awesome"></i> Home</button>
        </a>
      </td>
      <td class="tg-xwyw" rowspan="2">
        <a href="{{site.baseurl}}/tech/" style="text-decoration: none;" title="Technology">
          <button id="toAbout"><i class="fa-solid fa-wand-sparkles"></i> Technology</button>
        </a>
      </td>
      <td class="tg-xwyw">
        <a href="{{site.baseurl}}/categories/" style="text-decoration: none;" title="Categories">
          <button id="fullCategories"><i class="fa-solid fa-chess"></i> Categories</button>
        </a>
      </td>
    </tr>
    <tr>
      <td class="tg-xwyw">
        <a href="{{site.baseurl}}/archives/" style="text-decoration: none;" title="Archives">
          <button id="toArchives"><i class="fa-solid fa-scroll"></i> Archives</button>
        </a>
      </td>
    </tr>
    <tr>
      <td class="tg-xwyw">
        <a href="{{site.baseurl}}/about/" style="text-decoration: none;" title="About Me">
          <button id="toAbout"><i class="fa-solid fa-hat-wizard"></i> About Me</button>
        </a>
      </td>
      <td class="tg-xwyw"><span style="font-weight:400;font-style:normal">
        <a href="{{site.baseurl}}/life/" style="text-decoration: none;" title="Life">
          <button id="toAbout"><i class="fa-solid fa-broom"></i> Life</button>
        </a>
      </span></td>
      <td class="tg-xwyw">
        <a href="{{site.baseurl}}/tags/" style="text-decoration: none;" title="Tags">
          <button id="toTags"><i class="fa-solid fa-puzzle-piece"></i> Tags</button>
        </a>
      </td>
    </tr>
  </tbody>
</table> -->


<!-- 

<script>
  const el = document.querySelector('.ani-hello');
  const text = 'Ta-Da!';
  let idx = 0;

  function typeWriter() {
      if (idx < text.length) {
          el.textContent += text.charAt(idx);
          idx++;
          setTimeout(typeWriter, 150);
      } else {
          el.style.animation = 'none';
          el.style.borderRight = 'none';
      }
  }

  document.addEventListener('DOMContentLoaded', typeWriter);
</script>


<style>    
  .ani-hello {
      font-size: 42px;
      font-weight: bold;
      color: rgb(224, 157, 109);
      white-space: nowrap;
      overflow: hidden;
      display: inline-block; 
      line-height: 80px;
      border-right: 0.15em solid rgb(236, 223, 201);
      margin-bottom: -30px;
  }

  @keyframes blink-caret {
      from, to { border-color: transparent; }
      50% { border-color: rgb(236, 223, 201); }
  }
</style> -->



<table>
  <tr>
      <td>
        <a href="{{site.baseurl}}/" style="text-decoration: none;" title="Home">
          <button id="toHome" style="color: rgb(153, 107, 77);"><i class="fa-brands fa-fort-awesome"></i><span style="font-weight:700;font-style:normal;"> Home</span></button>
        </a>
      </td>
      <td>
        <a href="{{site.baseurl}}/about/" style="text-decoration: none;" title="About Me">
          <button id="toAbout"><i class="fa-solid fa-hat-wizard"></i><span style="font-weight:600;font-style:normal;"> About Me</span></button>
        </a>
      </td>
      <td>
        <a href="{{site.baseurl}}/categories/" style="text-decoration: none;" title="Categories">
          <button id="fullCategories"><i class="fa-solid fa-chess"></i><span style="font-weight:600;font-style:normal;"> Categories</span></button>
        </a>
      </td>
      <td>
        <a href="{{site.baseurl}}/archives/" style="text-decoration: none;" title="Archives">
          <button id="toArchives"><i class="fa-solid fa-scroll"></i><span style="font-weight:600;font-style:normal;"> Archives</span></button>
        </a>
      </td>
      <td>
        <a href="{{site.baseurl}}/tags/" style="text-decoration: none;" title="Tags">
          <button id="toTags"><i class="fa-solid fa-puzzle-piece"></i><span style="font-weight:600;font-style:normal;"> Tags</span></button>
        </a>
      </td>
  </tr>
  <tr>
      <td>
        <a href="{{site.baseurl}}/publication/" style="text-decoration: none;" title="Selected Publications">
          <button id="toAbout"><i class="fa-solid fa-feather-pointed"></i><span style="font-weight:600;font-style:normal;"> Publications</span></button>
        </a>
      </td>
      <td>
        <a href="{{site.baseurl}}/teaching/" style="text-decoration: none;" title="Teaching">
          <button id="toAbout"><i class="fa-solid fa-seedling"></i><span style="font-weight:600;font-style:normal;"> Teaching</span></button>
        </a>
      </td>
      <td>
        <a href="{{site.baseurl}}/tech/" style="text-decoration: none;" title="Technology">
          <button id="toAbout"><i class="fa-solid fa-wand-sparkles"></i><span style="font-weight:600;font-style:normal;"> Technology</span></button>
        </a>
      </td>
      <td>
        <a href="{{site.baseurl}}/life/" style="text-decoration: none;" title="Life">
          <button id="toAbout"><i class="fa-solid fa-broom"></i><span style="font-weight:600;font-style:normal;"> Life</span></button>
        </a>
      </td>
      <td></td>
  </tr>
</table>


<div style="width: 100%; max-width: 600px; margin: auto;">
  <script type='text/javascript' id='clustrmaps' src='https://cdn.clustrmaps.com/map_v2.js?cl=dc9e71&w=300&t=tt&d=jdy-KeNo_f3zL8VC2_O8su6clmH9O5qDNkJ8DDtpMm0&co=e9d9ca&cmo=808080&cmn=966b50&ct=000000'></script>
</div>

<style>
  table {
      border-collapse: collapse; /* 合并边框 */
  }
  td {
      width: 50px;
      height: 50px;
      text-align: center;
  }
  /* 移除所有边框 */
  td {
      border: none;
  }

  tr:first-child td {
      border-bottom: 1px solid #999;
  }

  td:nth-child(2) {
      border-right: 1px solid #999;
  }
</style>